
//colours
$white: #ffffff;
$black: #000000;
$blackLight: #252525;
$redpink:#ff00ff;

//breakpointMedium
$breakpointSMall:760px;
$breakpointMedium:760px;
$breakpointLarge:760px;
$breakpointXL:760px;
//font family
$primary: 'Poppins', sans-serif;
$secondary: 'Courier Prime', monospace;